# TYPE  DATABASE        USER            ADDRESS                 METHOD
host    all             all             0.0.0.0/0               md5

# Allow connections from localhost using md5 authentication
host    all             postgres        127.0.0.1/32            md5

host    all             all             127.0.0.1/32            md5

local   all             all                                     md5

local   all             postgres                                peer

#local   all             postgres                                trust


# Allow local connections using peer authentication
#local   all             postgres                                peer

# Reject all other connections
#host    all             all             all                     reject
